.project-details__wrapper.project__intimates
    .project-details__cover-wrapper
    .container
        .project-details__content-wrapper
            .project-details__introduction-wrapper
                .project-details__tags-wrapper
                    .project-details__tag
                        Experimental Typography
                %h1.project-details__title
                    Intimates
                .columns
                    .column.is-7
                        %p.project-details__introduction
                            A serif experimental typeface inspired by 'Eames Century Modern' bold italic from House Industries. It originated as an exploration of female pleasure and happiness, showcasing different ways to represent these themes. While we all experience tough days or weeks, many women agree that wearing underwear we find beautiful can boost our confidence and improve our mood. This project reflects my personal approach to "putting on my (pretty) big girl panties" as a way to keep pushing forward and not give up after a challenging week.
                    .column.is-3.is-offset-2
                        .project-details__line
                            %h2.project-details__subtitle
                                Role
                            %p.project-details__subtitle-text
                                Type design
                        .project-details__line
                            %h2.project-details__subtitle
                                Industry
                            %p.project-details__subtitle-text
                                Typography
                        .project-details__line
                            %h2.project-details__subtitle
                                Tools
                            %p.project-details__subtitle-text
                                Photoshop
            .project-details__gallery-wrapper
                .columns.is-multiline
                    .column.is-12
                        = image_tag "intimates-letters.gif"
                    .column.is-12
                        %p.projects__middle-text
                            Lingerie and sexy underwear have been historically viewed as being for the partner's benefit only, ut we’re in a time when women are empowering themselves, saying, 'This is good enough just for me to wear.'' And we can wear it whenever we want for how we want to feel in that day and moment.” - Psychologist Danielle Forshee
                    .column.is-12
                        = image_tag "intimates-letters-2.png"
                    .column.is-12
                        %p.projects__middle-text
                            “Wearing nice quality underwear or lingerie sets boost our confidence and self-esteem, even if no one sees it,” said Carolyn Mair, a behavioral psychologist, author of “The Psychology of Fashion” and founder of psychology.fashion.
                    .column.is-12
                        = image_tag "intimates-phrase.png"