.about__wrapper
    .container
        .columns.is-centered.is-vcentered.is-is-variable
            .column.is-5-widescreen.is-6-tablet
                .about__img-container
                    = image_tag 'https://nicolada-website.s3.us-east-1.amazonaws.com/nicole-salazar.png', alt: 'Picture of Nicole Salazar', class: 'about__img'
            .column.is-5-widescreen.is-6-tablet
                .about__text-wrapper
                    %h1 Nice to meet you,
                    %p
                        I'm Nicole. A designer and front end developer from Dominican Republic, currently based in New York. I'm a life-long artist and lover of experimentation.
                    %p
                        I have worked as an art director, UX/UI designer, brand designer, web designer and front end developer. With 6 years of experience, I have worked with a range of clients, budgets, and goals.
                    %p
                        My approach to design is fun, curious and meticulous. I aim to create useful, engaging and moving design that causes a lasting impression. I love working closely with brands to understand their vision, values and goals in order to deliver outstanding results.
                    %p 
                        When I'm not designing, I might be dancing salsa, coloring, cooking or reading a book.