$beige: #FFF9EF;
$black: #000000;
$white: #FFFFFF;
$pink: #F98DE2;
$green: #ADEA07;
$purple: #9067F3;
$blue: #4431FE;
$yellow: #FECE00;
$red: #FF7664;
$gray: #8E8E8E;
$cxegreen: #4E786A;
$ipink: #A00251;


.project-details__wrapper {
    .project-details__cover-wrapper{
        height: 400px;
        @media (max-width: 768px) {
            height: 300px;
        }
    }
    .project-details__content-wrapper {
        .project-details__introduction-wrapper {
            padding: 72px 0px;
            @media (max-width: 768px) {
                padding: 24px 0px ;
            }
            .project-details__tags-wrapper {
                display: flex;
                flex-direction: row;
                .project-details__tag {
                    border: 2px solid;
                    font-family: "Inter", sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 4px 12px;
                    margin-right: 8px;
                    border-radius: 12px;
                    &:last-child{
                        margin-right: 0px;
                    }
                    &.green {
                        color: $cxegreen;
                        border: 2px solid $cxegreen;
                    }
                }
            }
            h1 {
                font-size: 40px;
                margin-top: 32px;
                &.green {
                    color: $cxegreen;
                }
            }
            .project-details__introduction {
                margin-top: 20px;
                &.green {
                    color: $cxegreen;
                }
            }
            .project-details__line {
                margin-bottom: 12px;
                font-size: 14px;
                h2 {
                    text-transform: uppercase;
                }
                &.green {
                    h2, p {
                        color: $cxegreen;
                    }
                }
            }
        }
        .project-details__gallery-wrapper {
            margin-bottom: 40px;
            .projects__img-wrapper {
                padding: 0px 0px 6px;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .projects__middle-text {
                font-size: 24px;
                text-align: center;
                padding: 20px;
                font-weight: 400;
                line-height: 1.1;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
        .project-details__colors-wrapper {
                padding: 48px 0px ;
                margin-bottom: 40px;
            .project-details_font {
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0px;
                }
                h3 {
                    margin-bottom: 0px;
                    font-size: 52px;
                }
                h4 {
                    font-size: 24px;
                    
                }
                p {
                    letter-spacing: 4px;
                    &.uppercase {
                        text-transform: uppercase;
                    }
                    @media (max-width: 1023px) {
                        font-size: 15px;
                        letter-spacing: 2px;
                    }
                }
            }
            .project-details_color {
                padding: 16px;
                &.first-row {
                    height: 280px;
                    width: 100%;
                    border-radius: 12px;
                }
                &.second-row {
                    height: 160px;
                    width: 100%;
                    border-radius: 12px;
                }
                @media (max-width: 768px) {
                    padding: 8px;
                }
            }
        }
        @media (max-width: 1023px) {
            padding: 32px
        }
    }
}

/* Cause x Effect */
.project__cause-x-effect {
    .project-details__cover-wrapper {
        background-image: url("causexeffect-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 2px solid $cxegreen;
        border-bottom: 2px solid $cxegreen;
        @media (max-width: 768px) {
            background-image: url("causexeffect-cover-mobile.png");
        }
    }
    .project-details__colors-wrapper {
        border-top: 2px solid $cxegreen;
        border-bottom: 2px solid $cxegreen;
        h3, h4, p {
            font-family: "Montserrat", sans-serif;
        }
        .project-details_font{
            &.font1 {
                h3, h4, p {
                    font-weight: 800;
                }
            }
            &.font2 {
                h3, h4, p {
                    font-weight: 800;
                    font-style: italic;
                }
            }
            &.font3 {
                h3, h4, p {
                    font-weight: 500;
                }
            }
        }
        .project-details_color {
            &.color1 {
                background-color: #000000;
                color: $white;
            }
            &.color2 {
                background-color: #4E786A;
                color: $white;
            }
            &.color3 {
                background-color: #BBDAD7;
                color: $white;
            }
            &.color4 {
                background-color: #E69B53;
                color: $white;
            }
            &.color5 {
                background-color: #EED6D9;
                color: $white;
            }

        }

    }
}

/* intimates */

.project__intimates {
    .project-details__cover-wrapper {
        background-image: url("intimates-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 768px) {
            background-image: url("intimates-cover-mobile.png");
        }
    }
    .project-details__tags-wrapper {
        color: $ipink;
        .project-details__tag {
            color: $ipink;
            border: 2px solid $ipink;
        }
    }
    .project-details__title, .project-details__introduction, .project-details__line, .project-details__subtitle{
        color: $ipink;
    }
}

/* Everybody is Free */

.project__everybodys-free {
    .project-details__cover-wrapper {
        background-image: url("everybodysfree-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 2px solid $black;
        @media (max-width: 768px) {
            background-image: url("everybodysfree-cover-mobile.png");
        }
    }
    .project-details__tags-wrapper {
        .project-details__tag {
            color: $black;
            border: 2px solid $black
        }
    }
    .project-details__colors-wrapper {
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        .project-details_font {
            &.font1 {
                h3, h4, p {
                    font-family: "Barlow Semi Condensed", sans-serif;
                    font-weight: 700;
                    font-style: italic;
                }
            }
            &.font2 {
                h3, h4, p {
                    font-family: "Barlow", sans-serif;
                    font-weight: 400;
                }
            }
            &.font3 {
                padding-top: 10px;
                img {
                    max-height: 100px;
                }
            }
        }
        .columns.project-details__columns {
            height: 100%;
            min-height: 250px;
        }
        .project-details_color {
            height: 100%;
            border-radius: 16px;
            &.color1 {
                background-color: #000000;
                color: $white;
            }
            &.color2 {
                background-color: #FFFFFF;
                border: 2px solid $black;
            }
        }
    }
    .project-details__gallery-wrapper {
        text-align: center;
        .shadow-img {
            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
        }
    }
}

