$beige: #FFF9EF;
$black: #2A2A2A;
$white: #FFFFFF;
$pink: #F98DE2;
$green: #ADEA07;
$purple: #9067F3;
$blue: #4431FE;
$yellow: #FECE00;
$red: #FF7664;
$gray: #595959;
$cxegreen: #4E786A;
$ipink: #A00251;
$os-red: #b12024;
$os-blue: #272f5e;
$wyndham-red: #9b4939;
$text-secondary: #555;
$text-muted-1: #666;
$text-muted-2: #777;
$text-muted-3: #888;
$text-muted-4: #aaa;
$text-muted-5: #bbb;

/* titles */

@mixin title-preset-2 {
    font-family: "Obviously", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.48px;
}
@mixin title-preset-2--bold {
    @include title-preset-2;
    font-weight: 700;
}
@mixin title-preset-3 {
    font-family: "Obviously", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
@mixin title-preset-3--bold {
    @include title-preset-3;
    font-weight: 700;
}
@mixin title-preset-6 {
    font-family: "Obviously", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
@mixin title-preset-6--bold {
    @include title-preset-6;
    font-weight: 700;
}
@mixin title-preset-7 {
    font-family: "Obviously", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.24px;
}
@mixin title-preset-7--bold {
    @include title-preset-7;
    font-weight: 700;
}

/* texts */

@mixin text-preset-4 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
@mixin text-preset-4--bold {
    @include text-preset-4;
    font-weight: 900;
}
@mixin text-preset-5 {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
}
@mixin text-preset-5--bold {
    @include text-preset-5;
    font-weight: 900;
}
@mixin text-preset-6 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
@mixin text-preset-6--bold {
    @include text-preset-6;
    font-weight: 900;
}
@mixin text-preset-7 {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.24px;
}
@mixin text-preset-7--bold {
    @include text-preset-7;
    font-weight: 900;
}
@mixin text-preset-8 {
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.24px;
}
@mixin text-preset-8--bold {
    @include text-preset-7;
    font-weight: 900;
}

.case-study__wrapper {
    overflow-x: hidden;
}
.project-details__wrapper {
    .project-details__cover-wrapper{
        height: 600px;
        @media (max-width: 768px) {
            height: 400px;
        }
    }
    .project-details__content-wrapper {
        .project-details__introduction-wrapper {
            padding: 72px 0px;
            @media (max-width: 768px) {
                padding: 24px 0px ;
            }
            h1 {
                @include title-preset-2--bold;
                color: $black;
                margin-bottom: 32px;
                @media (max-width: 768px) {
                    @include title-preset-3--bold;
                }
            }
            .project-details__line {
                margin-bottom: 24px;
                .project-details__subtitle {
                    @include title-preset-7--bold;
                    text-transform: uppercase;
                    color: $black;
                }
                .project-details__subtitle-text {
                    @include text-preset-6;
                    color: $black;
                }
            }
            .project-details__intro-text-wrapper {
                p {
                    @include text-preset-6;
                    margin-bottom: 16px;
                }
            }
        }
        .eyebrow {
            @include text-preset-8--bold;
            margin-bottom: 4px;
            color: $text-muted-3;
            text-transform: uppercase;
            &::before {
                content: '✦';
                margin-right: 5px;
                color: $text-muted-3;
            }
        }
        .project-details__gallery-wrapper {
            .projects__img-wrapper {
                padding: 0px 0px 6px;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .project-details__description-wrapper {
                margin: 72px 0px;
            }
            .projects__middle-text {
                @include text-preset-6;
            }
            h2 {
                @include title-preset-3--bold;
                color: $black;
            }
        }
        .project-details__colors-wrapper {
                padding: 48px 0px ;
                margin-bottom: 40px;
            .project-details_font {
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0px;
                }
                h2 {
                    margin-bottom: 0px;
                    font-size: 52px;
                }
                h3 {
                    font-size: 24px;
                }
                p {
                    letter-spacing: 4px;
                    &.uppercase {
                        text-transform: uppercase;
                    }
                    @media (max-width: 1023px) {
                        font-size: 15px;
                        letter-spacing: 2px;
                    }
                }
            }
            .project-details_color {
                padding: 16px;
                &.first-row {
                    height: 280px;
                    width: 100%;
                    border-radius: 12px;
                }
                &.second-row {
                    height: 160px;
                    width: 100%;
                    border-radius: 12px;
                }
                @media (max-width: 768px) {
                    padding: 8px;
                }
            }
        }
        @media (max-width: 1023px) {
            padding: 32px
        }
        .project-details__navigation-wrapper {
            margin-bottom: 64px;
            @media (max-width: 1023px) {
                margin-bottom: 16px;
            }
            .navigation-button {
                p {
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 600;
                    font-family: "DM Sans", sans-serif;
                }
                img {
                    display: inline-block;
                    max-width: 20px;
                }
                .arrow-right {
                    margin-left: 8px;
                }
                .arrow-left {
                    margin-right: 8px;
                }
                .back-btn {
                    justify-content: flex-start;
                    transition:  200ms ease-in-out;
                    &:hover {
                        transform: rotate(01deg);
                    }
                }
                .next-btn {
                    justify-content: flex-end;
                    transition:  200ms ease-in-out;
                    &:hover {
                        transform: rotate(-02deg);
                    }
                }
            }
        }
    }
}

/* Cause x Effect */
.project__cause-x-effect {
    .project-details__cover-wrapper {
        background-color: #4E786A;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 768px) {
            background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-cover-mobile.png");
        }
    }
    .project-details__colors-wrapper {
        border-top: 2px solid $cxegreen;
        border-bottom: 2px solid $cxegreen;
        h3, h4, p {
            font-family: "Montserrat", sans-serif;
        }
        .project-details_font{
            &.font1 {
                h2, h3, p {
                    font-weight: 900;
                }
            }
            &.font2 {
                h3, p {
                    font-weight: 900;
                    font-style: italic;
                }
            }
            &.font3 {
                h3, p {
                    font-weight: 400;
                }
            }
        }
        .project-details_color {
            &.color1 {
                background-color: #000000;
                color: $white;
            }
            &.color2 {
                background-color: #4E786A;
                color: $white;
            }
            &.color3 {
                background-color: #BBDAD7;
                color: $white;
            }
            &.color4 {
                background-color: #E69B53;
                color: $white;
            }
            &.color5 {
                background-color: #EED6D9;
                color: $white;
            }

        }

    }
}

/* intimates */

.project__intimates {
    .project-details__cover-wrapper {
        background-color: #F2F2F2;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-cover-mobile.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 768px) {
            background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-cover.webp");
        }
    }
}

/* Everybody is Free */

.project__everybodys-free {
    .project-details__cover-wrapper {
        background-color: #FFFFFF;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/everybodysfree-cover.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: 768px) {
            background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/everybodysfree-cover-mobile.webp");
        }
    }
    .project-details__colors-wrapper {
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        .project-details_font {
            &.font1 {
                h2, h3, p {
                    font-family: "Barlow Semi Condensed", sans-serif;
                    font-weight: 700;
                }
            }
            &.font2 {
                h2, h3, p {
                    font-family: "Barlow", sans-serif;
                    font-weight: 400;
                }
            }
            &.font3 {
                padding-top: 10px;
                img {
                    max-height: 100px;
                }
            }
        }
        .columns.project-details__columns {
            height: 100%;
            min-height: 250px;
        }
        .project-details_color {
            height: 100%;
            border-radius: 16px;
            &.color1 {
                background-color: #000000;
                color: $white;
            }
            &.color2 {
                background-color: #FFFFFF;
                border: 2px solid $black;
            }
        }
    }
    .project-details__gallery-wrapper {
        text-align: center;
        .shadow-img {
            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
        }
    }
}

/* social media */

.project__social-media {
    .project-details__cover-wrapper {
        background-color: #E7DDFB;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/socialscover.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .project-details__company-wrapper {
        border-top: 2px solid $black;
        padding: 72px 0px;
        h2 {
            @include title-preset-3--bold;
            margin-bottom: 16px;
            color: $black;
        }
        h3 {
            @include text-preset-7--bold;
            text-transform: uppercase;
            color: $black;
        }
        .project-details__description-wrapper {
            margin-bottom: 72px;
            h4 {
                @include text-preset-6--bold;
                color: $black;
            }
            p {
                @include text-preset-6;
                margin-bottom: 12px;
                color: $black;
            }
            ul {
                li {
                    @include text-preset-6;
                    margin-top: 16px;
                    color: $black;
                    strong {
                        @include text-preset-6--bold;
                        text-decoration: underline;
                    }
                    &::before {
                        content: '✦';
                        margin-right: 5px;
                    }
                    &.c1 {
                        &::before {
                            color: $green;
                        }
                    }
                    &.c2 {
                        &::before {
                            color: $pink;
                        }
                    }
                    &.c3 {
                        &::before {
                            color: $blue;
                        }
                    }
                    &.c4 {
                        &::before {
                            color: $red;
                        }
                    }
                }
            }

        }
        .project-details__scope-wrapper {
            h4 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
            }
            li {
                margin-top: 8px;
                font-size: 14px;
            }
        }
        .project-details__gallery-wrapper {
            .gallery__img-wrapper {
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                overflow: hidden;
                .gallery__media {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
        &.gallery__company3 {
            .gallery__media {
                border: 2px solid lighten($color: #8E8E8E, $amount: 40);
            }
        }
    }
}

/* wyndham */

.project__wyndham {
    .project-details__cover-wrapper {
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/wyndham-cover.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .project-details__gallery-wrapper {
        .project-details__img-wrapper {
            width: 100%;
            height: 100%;
            .billboard {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .timelapse {
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

/* ocean spray */

.project__ocean-spray {
    .project-details__cover-wrapper {
        background-color: $os-red;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/Ocean-spray-cover.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .project-details__introduction-wrapper {
        border-bottom: 2px solid $text-muted-4;
        margin-bottom: 72px;
    }
    .project-details__gallery-wrapper {
        .project-details__objectives-wrapper {
            padding: 72px 0px;
            position: relative;
            h3 {
                color: $os-red;
            }
            .project-details_objectives {
                padding: 24px;
                background-color: $os-red;
                border-radius: 16px;
                margin-bottom: 24px;
                h3 {
                    @include text-preset-7--bold;
                    text-transform: uppercase;
                    color: $white;
                    margin-bottom: 8px
                }
                p { 
                    @include text-preset-6;
                    color: $white;
                }

            }
        }
        .display {
            display: block;
            width: 100%;
        }
        .ron-pon__wrapper {
            .columns {
                align-items: stretch;
            }
            .img-wrapper__ron-pon-cel {
                background-color: $os-red;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .ronpon-mock-img {
                    width: 100%;
                    height: 100%;
                    max-width: unset;
                    object-fit: cover;
                }
            }
        }
        .project-details__img-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden;
            .gallery__media {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .cup {
                object-position: 50% 70%;
            }
        }
        .carousel {
            padding: 0px 24px;
        }
        .carousel-img {
            margin-top: 155px;
            max-width: 330px;
            width: 100%;
            @media (max-width: 1406px) {
                max-width: 310px;
                margin-top: 135px;
            }
            @media (max-width: 1024px) {
                max-width: 250px;
                margin-top: 100px;
            }
            @media (max-width: 768px) {
                max-width: 800px;
                margin: 0 auto;
                margin-top: 0px;
                
            }
        }

        
    }
}