$beige: #FFF9EF;
$black: #000000;
$white: #FFFFFF;
$pink: #F98DE2;
$green: #ADEA07;
$purple: #9067F3;
$blue: #4431FE;
$yellow: #FECE00;
$red: #FF7664;
$gray: #595959;
$cxegreen: #4E786A;
$ipink: #A00251;
$os-red: #b12024;
$os-blue: #272f5e;
$wyndham-red: #9b4939;


.project-details__wrapper {
    .project-details__cover-wrapper{
        height: 700px;
        border-bottom: 3px solid $black;
        @media (max-width: 768px) {
            height: 400px;
        }
    }
    .project-details__content-wrapper {
        .project-details__introduction-wrapper {
            padding: 72px 0px;
            @media (max-width: 768px) {
                padding: 24px 0px ;
            }
            h1 {
                font-size: 40px;
                line-height: 1;
                margin-bottom: 32px;
                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }
            .project-details__intro-text-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .project-details__line {
                margin-top: 20px;
                font-size: 14px;
                &:first-child {
                    margin-top: 0px;
                }
                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
        .eyebrow {
            font-weight: 800;
            font-family: "DM Sans", sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            margin-bottom: 4px;
            &::before {
                content: '✦';
                margin-right: 5px;
            }
        }
        .project-details__gallery-wrapper {
            margin-bottom: 40px;
            .projects__img-wrapper {
                padding: 0px 0px 6px;
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .project-details__description-wrapper {
                margin: 72px 0px;
            }
            .projects__middle-text {
                font-weight: 400;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
            h3 {
                font-size: 28px;
                line-height: 1.1;
            }
            h5 {
                font-family: "Inter", sans-serif !important;
                font-weight: 600; 
                color: $gray !important;
                font-size: 16px !important;
            }
        }
        .project-details__colors-wrapper {
                padding: 48px 0px ;
                margin-bottom: 40px;
            .project-details_font {
                margin-bottom: 32px;
                &:last-child {
                    margin-bottom: 0px;
                }
                h3 {
                    margin-bottom: 0px;
                    font-size: 52px;
                }
                h4 {
                    font-size: 24px;
                    
                }
                p {
                    letter-spacing: 4px;
                    &.uppercase {
                        text-transform: uppercase;
                    }
                    @media (max-width: 1023px) {
                        font-size: 15px;
                        letter-spacing: 2px;
                    }
                }
            }
            .project-details_color {
                padding: 16px;
                &.first-row {
                    height: 280px;
                    width: 100%;
                    border-radius: 12px;
                }
                &.second-row {
                    height: 160px;
                    width: 100%;
                    border-radius: 12px;
                }
                @media (max-width: 768px) {
                    padding: 8px;
                }
            }
        }
        @media (max-width: 1023px) {
            padding: 32px
        }
        .project-details__navigation-wrapper {
            margin-bottom: 32px;
            .navigation-button {

                p {
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 600;
                    font-family: "Inter", sans-serif;
                }
                img {
                    display: inline-block;
                    max-width: 20px;
                }
                .arrow-right {
                    margin-left: 8px;
                }
                .arrow-left {
                    margin-right: 8px;
                }
                .back-btn {
                    justify-content: flex-start;
                    transition:  200ms ease-in-out;
                    &:hover {
                        transform: rotate(01deg);
                    }
                }
                .next-btn {
                    justify-content: flex-end;
                    transition:  200ms ease-in-out;
                    &:hover {
                        transform: rotate(-02deg);
                    }
                }
            }
        }
    }
}

/* Cause x Effect */
.project__cause-x-effect {
    border-top: 3px solid $black;
    .eyebrow {
        color: $cxegreen;
        &::before {
            color: $cxegreen;
        }
    }
    .project-details__cover-wrapper {
        background-color: #4E786A;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 3px solid $black;
        @media (max-width: 768px) {
            background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/causexeffect-cover-mobile.png");
        }
    }
    .project-details__colors-wrapper {
        border-top: 2px solid $cxegreen;
        border-bottom: 2px solid $cxegreen;
        h3, h4, p {
            font-family: "Montserrat", sans-serif;
        }
        .project-details_font{
            &.font1 {
                h3, h4, p {
                    font-weight: 800;
                }
            }
            &.font2 {
                h3, h4, p {
                    font-weight: 800;
                    font-style: italic;
                }
            }
            &.font3 {
                h3, h4, p {
                    font-weight: 500;
                }
            }
        }
        .project-details_color {
            &.color1 {
                background-color: #000000;
                color: $white;
            }
            &.color2 {
                background-color: #4E786A;
                color: $white;
            }
            &.color3 {
                background-color: #BBDAD7;
                color: $white;
            }
            &.color4 {
                background-color: #E69B53;
                color: $white;
            }
            &.color5 {
                background-color: #EED6D9;
                color: $white;
            }

        }

    }
}

/* intimates */

.project__intimates {
    border: 3px solid $black;
    .eyebrow {
        color: $ipink;
        &::before {
            color: $ipink;
        }
    }
    .project-details__cover-wrapper {
        background-color: #F2F2F2;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: 3px solid $black;
        @media (max-width: 768px) {
            background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/intimates-cover-mobile.png");
        }
    }
}

/* Everybody is Free */

.project__everybodys-free {
    .project-details__cover-wrapper {
        background-color: #FFFFFF;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/everybodysfree-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 3px solid $black;
        border-bottom: 3px solid $black;
        @media (max-width: 768px) {
            background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/everybodysfree-cover-mobile.png");
        }
    }
    .project-details__colors-wrapper {
        border-top: 2px solid $black;
        border-bottom: 2px solid $black;
        .project-details_font {
            &.font1 {
                h3, h4, p {
                    font-family: "Barlow Semi Condensed", sans-serif;
                    font-weight: 700;
                    font-style: italic;
                }
            }
            &.font2 {
                h3, h4, p {
                    font-family: "Barlow", sans-serif;
                    font-weight: 400;
                }
            }
            &.font3 {
                padding-top: 10px;
                img {
                    max-height: 100px;
                }
            }
        }
        .columns.project-details__columns {
            height: 100%;
            min-height: 250px;
        }
        .project-details_color {
            height: 100%;
            border-radius: 16px;
            &.color1 {
                background-color: #000000;
                color: $white;
            }
            &.color2 {
                background-color: #FFFFFF;
                border: 2px solid $black;
            }
        }
    }
    .project-details__gallery-wrapper {
        text-align: center;
        .shadow-img {
            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
        }
    }
}

/* social media */

.project__social-media {
    border-top: 3px solid $black;
    .project-details__cover-wrapper {
        background-color: #E7DDFB;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/socialscover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 3px solid $black;
    }
    .project-details__company-wrapper {
        border-top: 2px solid $black;
        padding-top: 72px;
        h3 {
            font-size: 28px;
        }
        h4 {
            font-size: 16px;
            font-weight: 600;
            font-family: "Inter", sans-serif;
        }
        .project-details__description-wrapper {
            margin-bottom: 72px;
            h4 {
                margin-top: 16px;
            }
            p {
                margin-bottom: 12px;
            }
            ul {
                li {
                    margin-top: 16px;
                    strong {
                        text-decoration: underline;
                    }
                    &::before {
                        content: '✦';
                        margin-right: 5px;
                    }
                    &.c1 {
                        &::before {
                            color: $green;
                        }
                    }
                    &.c2 {
                        &::before {
                            color: $pink;
                        }
                    }
                    &.c3 {
                        &::before {
                            color: $blue;
                        }
                    }
                    &.c4 {
                        &::before {
                            color: $red;
                        }
                    }
                }
            }

        }
        .project-details__scope-wrapper {
            h4 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
            }
            li {
                margin-top: 8px;
                font-size: 14px;
            }
        }
        .project-details__gallery-wrapper {
            .gallery__img-wrapper {
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                overflow: hidden;
                .gallery__media {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
        &.gallery__company3 {
            .gallery__media {
                border: 2px solid lighten($color: #8E8E8E, $amount: 40);
            }
        }
    }
}

/* wyndham */

.project__wyndham {
    .eyebrow {
        color: $wyndham-red;
        &::before {
            color: $wyndham-red;
        }
    }
    .project-details__cover-wrapper {
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/wyndham-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .project-details__gallery-wrapper {
        .project-details__img-wrapper {
            width: 100%;
            height: 100%;
            .billboard {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .timelapse {
                box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
            }
        }
    }
}

/* ocean spray */

.project__ocean-spray {
    border-top: 3px solid $black;
    .eyebrow {
        color: $os-red;
        &::before {
            color: $os-red;
        }
    }
    .project-details__cover-wrapper {
        background-color: #BCD3E7;
        background-image: url("https://nicolada-website.s3.us-east-1.amazonaws.com/Ocean-spray-cover.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .project-details__gallery-wrapper {
        h3 {
            margin: 0px;
        }
        .project-details__objectives-wrapper {
            background-color: lighten($color: $os-red, $amount: 55);
            padding: 72px 0px;
            h3 {
                color: $os-red;
            }
            .project-details_objectives {
                padding: 24px;
                border: 3px solid $os-red;
                border-radius: 16px;
                height: 100%;
                text-align: center;
                svg {
                    max-width: 50px;
                    display: block;
                    margin: 20px auto;
                    fill: $os-red;
                }
                h4 {
                    text-transform: uppercase;
                    font-size: 20px;
                    margin-bottom: 12px;
                    font-weight: 800;
                    color: $os-red;
                    font-family: "DM Sans", sans-serif !important;;
                }
                p { 
                    max-width: 350px;
                    margin: 0px auto 20px;
                    color: $os-red;
                }

            }
        }
        .display {
            display: block;
            width: 100%;
        }
        .ron-pon__wrapper {
            .columns {
                align-items: stretch;
            }
            .img-wrapper__ron-pon-cel {
                background-color: $os-red;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .ronpon-mock-img {
                    width: 100%;
                    height: 100%;
                    max-width: unset;
                    object-fit: cover;
                }
            }
        }
        .project-details__img-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden;
            .gallery__media {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .cup {
                object-position: 50% 70%;
            }
        }
        .carrousel {
            padding: 0px 24px;
        }
        .mmp {
            margin-top: 155px;
            max-width: 370px;
            width: 100%;
            @media (max-width: 1406px) {
                max-width: 310px;
                margin-top: 135px;
            }
            @media (max-width: 1024px) {
                max-width: 250px;
                margin-top: 100px;
            }
            @media (max-width: 768px) {
                max-width: 800px;
                margin: 0 auto;
                margin-top: 0px;
                
            }
        }

        
    }
}